.container {
  display: flex;
  height: 950px;
  overflow: hidden;
  padding: 48px 64px;
  background-color: var(--color-white);
}

.filters {
  width: 360px;
  margin-right: 64px;
}

.results {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}
