.container {
  display: flex;

  padding: 48px 64px;
  background-color: var(--color-white);
}

.filters {
  width: 360px; /* Фіксована ширина для фільтрів */
  margin-right: 64px;
}

.results {
  flex: 1; /*Займає весь залишковий простір */
  padding: 16px;
  /* overflow-y: auto; Скрол, якщо вміст великий */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
