.loadMore {
  background-color: var(--color-white);
  color: var(--color-main);
  border: 1px solid var(--color-gray-light);
  margin-bottom: 45px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
