.header {
  display: flex;
  padding-left: 64px;
  align-items: center;
  background-color: var(--color-inputs);
  height: 72px;
}

.navContainer {
  display: flex;

  width: 138px;
  justify-content: space-between;

  margin-left: 450px;
}

.link {
  color: var(--color-main);
}
.active {
  color: var(--color-button-hover);
}
