.header {
  display: flex;
  padding-left: 64px;
  align-items: center;
  background-color: var(--color-inputs);
  height: 72px;
}

.navContainer {
  display: flex;

  width: 138px;
  justify-content: space-between;

  margin: 0 450px;
}

.link {
  color: var(--color-main);
}
.active {
  color: var(--color-button-hover);
}

.themeButton {
  width: 100px;
  height: 40px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--color-gray-light); */
  padding: 20px;
  gap: 10px;
  cursor: pointer;
  color: var(--color-main);
  fill: var(--color-main);
  background-color: var(--color-white);
}
