@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */
}

body {
  color: var(--color-main);
  --color-white: #ffffff;
  --color-main: #101828;
  --color-text: #475467;
  --color-inputs: #f7f7f7;
  --color-badges: #f2f4f7;
  --color-gray: #6c717b;
  --color-gray-light: #dadde1;
  --color-gray-details: #eaecef;
  --color-button: #e44848;
  --color-button-hover: #d84343;
  --color-rating: #ffc531;
}
body.dark-theme {
  color: var(--color-main);
  --color-white: #1f1f1f; /* Світлий текст, контрастний, але м'який */
  --color-main: #9391bd; /* Основний фон з легким фіолетовим відтінком */
  --color-text: #a8a9b3; /* Текстовий колір для стандартного тексту */
  --color-inputs: #2a293d; /* Фон для інпутів/контейнерів */
  --color-badges: #3a3951; /* Фон для бейджів/ярликів */
  --color-gray: #8a8b98; /* Середній сірий для вторинного тексту */
  --color-gray-light: #45455a; /* Легкий фон для розділень, бордерів */
  --color-gray-details: #343244; /* Деталі/тіньові акценти */
  --color-button: #9a56c3; /* Фіолетовий колір для кнопок */
  --color-button-hover: #8d409d; /* Темніший варіант фіолетового для ховерів */
  --color-rating: #ffd966; /* М'який жовтий для рейтингу */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: inline-block;
  vertical-align: middle;
}
